*.*~
eregsip/**
*.ipynb
*.sqlite3
eregs_core/static/eregsip/**
eregs_core/static/regulations/js/built/**

# Python #
##########
*.pyc
__pycache__/
*.eggs/
*.egg/

# Front-End #
#############
node_modules/
/static/

# Unit test / coverage reports #
################################
.tox/
.coverage
eregs_core/static/regulations/js/unittests/coverage/lcov-report/
