<!DOCTYPE html>

<html lang="en" class="js history fontface">

    {% load static %}

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {{meta.cfr_title_number}} CFR Part {{reg_part}} | eRegulations
            {% endblock %}
        </title>


        <link rel="stylesheet" href="{% static 'regulations/css/style.css' %}">
        <!-- <script src="{% static "regulations/js/built/regulations.js" %}"></script> -->

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    <div class="breakaway-wrap">
        <div id="breakaway-view" class="breakaway-content"></div>
    </div>
</html>

