{% load staticfiles %}


{% block regulation_header %}
    <header if="site-header" class="reg-header chrome-header" role="banner">
        <div class="main-head">
            <div class="title">
                <h1 class="site-title">
                    <a href="{% url 'eregs_main' %}">
                        <span class="e">e</span>Regulations
                    </a>
                </h1>
                <h2 class="reg-title">
                    <a href="#">{{ meta.cfr_title }} CFR Part {{ meta.cfr_section }} (Regulation {{ meta.reg_letter|default:meta.cfr_section}})</a>
                </h2>
            </div>
            <nav class="app-nav">
                <a href="#" class="mobile-nav-trigger">
                    <span class="cf-icon cf-icon-menu"></span>
                    <span class="icon-text">Mobile navigation</span>
                </a>
                <ul class="app-nav-list">
                    <li class="app-nav-list-item">
                        <a href="{% url 'eregs_main' %}">Regulations</a>
                    </li>
                    <li class="app-nav-list-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="app-nav-list-item logo-list-item">
                        <a href="https://www.consumerfinance.gov">
                            <img src="{% static 'eregsip/logo.png' %}" class="logo"
                            alt="Consumer Financial Protection Bureau" width="151">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sub-head">
            <a href="#content-wrapper" class="hidden-text">Skip to main content</a>
            <div class="toc-head">
                <a href="#" id="panel-link" class="toc-toggle panel-slide"></a>
                <ul class="drawer-toggles">
                    <li>
                        <a href="#table-of-contents" id="menu-link" class="toc-nav-link
                        {% if mode == "reg" %} current {% endif %}" title="Table of Contents">
                            <span class="icon-text">Table of Contents</span>
                            <span class="cf-icon cf-icon-table-of-contents"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#timeline" id="timeline-link" class="toc-nav-link" title="Regulation Timeline">
                            <span class="icon-text">Regulation Timeline</span>
                            <span class="cf-icon cf-icon-history"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#search" id="search-link" class="toc-nav-link
                        {% if mode == "search" %} current {% endif %}" title="Search">
                            <span class="icon-text">Search</span>
                            <span class="icon-text">Search</span><span class="cf-icon cf-icon-search"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="content-header" class="header-main group">
        <div class="wayfinding">
            <span class="subpart"></span>
            <span id="active-title"><em class="header-label"><span class="reg_part">§1003</span></em></span>
        </div>

        <span class="effective-date"><strong>Effective Date:</strong> {{ meta.effective_date }}</span>
        <h2> </h2>

    </div>
        </div>
    </header>
{% endblock %}
