{% load staticfiles %}


<section id="sxs-list" class="regs-meta">
    <header id="sxs-expandable-header" class="expandable sxs-expand group has-content" data-expandable="sxs-expandable">
        <h4 tabindex="0">Section-by-section Analysis</h4>
        <a href="#" tabindex="0"><span class="icon-text">Show/Hide Contents</span></a>
    </header>
    <div class="chunk expand-drawer">

        {% if node.tag == "section" or node.tag == "appendixSection" %}
            {% with analyses=node.get_all_analyses %}
                {% if analyses %}
                    <h5 class="subtitle">Most Recent Analysis</h5>
                    <a class="what" href="/about#related-info"
                       aria-label="Link opens in a new window"
                       rel="noopener noreferrer"
                       target="_blank">(What's this?)</a>
                    <ul class="sxs-list">
                    {% for analysis in analyses %}
                        <li>
                            <a class="sidebar-full sxs-link" href="{{ analysis.target_url }}"
                               data-sxs-paragraph-id="{{ analysis.target }}"
                                    data-doc-number="{{ meta.document_number }}" data-gtm_ignore="true">
                                § {{ analysis.analysis_target }}<span class="cf-icon cf-icon-right"></span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    No analyses available for this section in this tool.
                    <a class="what"
                       href="/about#related-info"
                       aria-label="Link opens in a new window"
                       rel="noopener noreferrer"
                        target="_blank">(What's this?)</a>
                {% endif %}
            {% endwith %}

        {% else %}
            No analyses available for this section in this tool. <a class="what" href="/about#related-info"
                                                                    aria-label="Link opens in a new window"
                                                                    rel="noopener noreferrer"
                                                                    target="_blank">(What's this?)</a>
        {% endif %}

    </div>
</section>
<!-- /.regs-meta -->
<section id="help" class="regs-meta">
    <header class="expandable group">
        <h4 tabindex="0">Help</h4>
        <a href="#" tabindex="0"><span class="icon-text">Show/Hide Contents</span></a>
    </header>
    <div class="chunk expand-drawer">
        <div class="sidebar-subsection">
            <h5 class="help-title">Interface Help</h5>
            <a class="what"
               href="/about#navigation"
               aria-label="Link opens in a new window"
               rel="noopener noreferrer"
               target="_blank">(What's
                this?)</a>

            <ul class="help-list">
                <li><span class="cf-icon cf-icon-table-of-contents help-icon"></span>Table of contents</li>
                <li><span class="cf-icon cf-icon-history help-icon"></span>Regulation Timeline</li>
                <li><span class="cf-icon cf-icon-search help-icon"></span>Search</li>
                <li><span class="cf-icon cf-icon-left help-icon"></span>Hide Navigation</li>
                <li><span class="cf-icon cf-icon-right help-icon"></span>Show Navigation</li>
            </ul>
        </div>
        <!-- /.sidebar-subsection-->

        <div class="sidebar-subsection">
            <h5 class="help-title">Textual Help</h5>
            <a class="what"
               href="/about#related-info"
               aria-label="Link opens in a new window"
               rel="noopener noreferrer"
               target="_blank">(What's
                this?)</a>

            <ul class="help-list">
                <li class="group">
                    <div class="help-sample"><a class="definition">term</a></div>
                    <div class="help-text">Defined Term</div>
                </li>
                <li class="group">
                    <div class="help-sample"><a class="internal">citation</a></div>
                    <div class="help-text">Link within a regulation <br>
                        (example: 1005.8(b))
                    </div>
                </li>
                <li>
                  <img src="{% static 'regulations/img/supplement-sample.png' %}" class="block-image">
                    Inline interpretations/commentary from Supplement I
                </li>
            </ul>
        </div>
        <!-- /.sidebar-subsection-->
    </div>
    <!-- /.expand-drawer-->
</section>
