{% load eregs_formatting %}

<div id="search" class="search-drawer toc-container">
    <div class="drawer-header">
        <h2 class="toc-type">Search</h2>
    </div>
    <div class="drawer-content">
        <form action="{% url 'eregs_search' %}" method="get" role="search" _lpchecked="1">
            <div class="search-box">
                <input type="text" name="q" value="" id="search-input"><button type="submit">
                    <i class="cf-icon cf-icon-search"></i>
                    <strong class="icon-text">Search</strong>
                </button>
            </div>
            <div class="version-search">
                <h4>Search in regulation effective:</h4>
                <div class="select-content">
                    <select name="version" id="version-select">
                        {% for other_preamble, other_fdsys in timeline %}
                            <option value="{{ other_preamble.version }}"
                                {% if preamble.version == other_preamble.version %}
                                    selected="selected"
                                {% endif %}>
                                {{ other_preamble.effective_date|effective_date }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
