<div class="sxs-header">
    <a class="sxs-back-button" href="{{ node.node_url }}">
        <span class="cf-icon cf-icon-arrow-left-round"></span>{{ node.label }}
    </a>
    <h2><span class="sxs-label">Section-by-section analysis</span></h2>
</div>

<div class="sxs-content group">
    <div id="{{ node.label }}" class="sxs-main-content">
        {% for child in node.analysis.0.children %}
            {% if child.tag == "title" %}
                <h3>{{ node.analysis.0.section_title }}</h3>
            {% elif child.tag == 'analysisSection' %}
                {% with section=child %}
                    {% include 'eregs_core/analysis_section.html' %}
                {% endwith %}
            {% elif child.tag == 'analysisParagraph' %}
                {% with paragraph=child %}
                    <p>
                        {% include 'eregs_core/analysis_paragraph.html' %}
                    </p>
                {% endwith %}
            {% endif %}
        {% endfor %}

        {% if footnotes %}
            <h4 class="footnote-title">Footnotes</h4>
            <ul class="footnotes">
                {% for footnote in footnotes %}
                    <li id="footnote-{{ footnote.ref }}">
                        <div class="footnote-inner group">
                            <span class="reference-num">{{ footnote.ref }}</span>
                            <p>{{ footnote.footnote_text }}</p>
                            <a href="#footnote-jump-{{ element.ref }}" class="return-link">
                                <span class="cf-icon cf-icon-up-round"></span>
                                <span class="icon-text">Return to Main Content</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% comment %}
    <div id="metadata-{{ node.label }}" class="sxs-metadata">

        <h3>ANALYSIS TAKEN FROM:</h3>

        <h4>Document Number:</h4>

        <p>
            <a href="https://www.federalregister.gov/articles/2014/09/18/2014-20681/no-title-available" class="external"
               aria-label="Link opens in a new window"
               rel="noopener noreferrer"
               target="_blank">2014-20681</a>
        </p>

        <h4>Action:</h4>

        <p>

        </p>

        <h4>Dates:</h4>
        <ul>
            <li><strong>Publication:</strong> November 17, 2014</li>
            <li><strong>Effective:</strong> November 17, 2014</li>
        </ul>

        <h4>RIN:</h4>

        <p>

        </p>


        <div class="further-analysis">
            <h3>Further Analysis:</h3>
            <ul class="analysis-list">

                <li><a href="/eregulations/sxs/1005-3/2013-10604?from_version=2016-24506&amp;fr_page="
                       data-sxs-pararaph-id="1005-3" data-doc-number="2013-10604" class="internal">2013-10604</a>
                    <br>Published October 28, 2013
                </li>

                <li><a href="/eregulations/sxs/1005-3/2012-01728?from_version=2016-24506&amp;fr_page="
                       data-sxs-pararaph-id="1005-3" data-doc-number="2012-01728" class="internal">2012-01728</a>
                    <br>Published October 28, 2013
                </li>

            </ul>
        </div>


        <h4>Legal Disclaimer:</h4>

        <p>
            All information in this part of the tool comes from CFPB preambles published on
            or after December 22, 2011. There may be other relevant analyses for this
            paragraph in other Federal Register notices. Please consult the Federal Register for
            additional information.
        </p>

    </div>
    {% endcomment %}

</div>
