<li {% if entry.tag == "tocSubpartEntry" %}data-subpart-heading{% endif %}
        {% if entry.action == "modified" %}class="modified"{% endif %}>
    {% if entry.tag == "tocSecEntry" or entry.tag == "tocAppEntry" or entry.tag == "tocInterpEntry" %}
        {% if mode == 'reg' or mode == 'landing' or mode == 'search' %}
          <a href="{% url 'eregs_regulation' meta.document_number meta.effective_date entry.target %}"
                data-section-id="{{ entry.target }}" id="nav-{{ entry.target }}"
                data-doc-number="{{ meta.document_number }}" data-version="{{ meta.effective_date }}">
        {% elif mode == 'diff' %}
          <a href="{% url 'eregs_diff' meta.left_document_number meta.left_effective_date meta.right_document_number meta.right_effective_dat entry.target %}"
                data-section-id="{{ entry.target }}" id="nav-{{ entry.target }}"
                data-doc-number="{{ meta.left_document_number }}" data-version="{{ meta.left_effective_date }}">
        {% endif %}
            {% if entry.tag == "tocSecEntry" %}
                <span class="toc-section-marker">
                    § {{ meta.cfr_section }}.{{ entry.section_number }}
                </span> {{ entry.section_subject }}
            {% elif entry.tag == "tocAppEntry" %}
                <span class="toc-section-marker">
                    Appendix {{ entry.appendix_letter }} to Part {{ meta.cfr_section }}
                </span> {{ entry.formatted_subject }}
            {% elif entry.tag == "tocInterpEntry" %}
                <span class="toc-interp-heading">
                {% if intro %}Interpretations{% else %}Interpretations for{% endif %}
                </span>
                <span class="toc-section-marker">{{ entry.interp_for }}</span>
            {% endif %}
        </a>
    {% elif entry.tag == "tocSubpartEntry" %}
        <h3 class="subpart-heading" id="nav-{{ entry.label }}">Subpart {{ entry.subpart_letter }} -
            <span class="subpart-subhead">{{ entry.subpart_title }}</span>
        </h3>
        {% for node in entry.children %}
            {% with entry=node template_name="eregs_core/toc_entry.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}

    {% endif %}
</li>
