{% comment %}
    Partial for definitions to be displayed inline in the sidebar
{% endcomment %}
<div id="{{node.markup_id}}" class="open-definition" tabindex="0">
    <div class="sidebar-header group">
        <h4>
            Defined Term
            <a class="right close-button" href="#">Close definition</a>
        </h4>
    </div>

    {% comment %}
        Used to display scope warnings
    {% endcomment %}
    <div class="definition-warning hidden group">
        <span class="cf-icon cf-icon-error icon-warning"></span>
        <div class="msg">
        </div>
    </div>

    <div class="definition-text">
        {% if node.block_element_children %}
            <p>
                This definition is best viewed in its original location.
            </p>
        {% else %}
            <p>
                {{node.marked_up_content|safe}}
            </p>
        {% endif  %}

        <a  href="{{ node.target_url }}"
            class="continue-link full-def internal"
            data-linked-section="{{ node.label }}" data-gtm_ignore="true">§ {{ node.formatted_label }}</a>

        {% comment %}
        {% if not node.children %}
            {% if node.interp %}
                {% with interp=node.interp.interps.0 %}
                <a  href="{% url 'chrome_subterp_view' interp.section_id version %}#{{ interp.label_id }}"
                    data-linked-subsection="{{ interp.label_id }}"
                    data-linked-section="{{ interp.section_id }}"
                    class="internal interp continue-link" data-gtm_ignore="true">Official Interpretation</a>
                {% endwith %}
            {% endif %}
        {% endif %}
        {% endcomment %}

        <a class="close-button tab-activated" href="#">Close definition</a>
    </div>

</div>