<div class="main-head">
    <div class="title">
        <h1 class="site-title"><a href=""><span class="e">e</span>Regulations</a></h1>

    </div> <!-- /reg-title -->
    <nav class="app-nav">
        <a href="#" class="mobile-nav-trigger">
             <span class="cf-icon cf-icon-menu"></span>
             <span class="icon-text">Mobile navigation</span>
        </a>
        <ul class="app-nav-list">
            <li class="app-nav-list-item"><a href="">Regulations</a></li>
            <li class="app-nav-list-item"><a href="">About</a></li>
        </ul>
    </nav>
</div>