{% load marker %}

<a href="#{{ node.label }}"></a>
{% if node.children.0.tag == "title" %}
    <h5><em class="paragraph-marker">{{ node.attributes.marker }}</em> {{ node.paragraph_title }}</h5>
    <p>
{% else %}
    <p>
    {% if node.attributes.marker != "none" and node.attributes.marker != None %}
        <em class="paragraph-marker">{{ node.attributes.marker }}</em>
    {% endif %}
{% endif %}

{% for child in node.paragraph_content %}
    {% if child.tag == "ref" %}
        {% include "reference.html" %}
    {% elif child.tag == "def" %}
        <dfn class="defined-term">{{ child.regtext }}</dfn>
    {% elif child.tag == "graphic" %}
        <img class="reg-image" src="{{ child.target }}"/>
    {% else %}
        {{ child.text }}
    {% endif %}
{% endfor %}
</p>
