{% if node.children.0.tag == "title" %}
    <h5><em class="paragraph-marker">{{ node.attributes.marker }}</em>
        {% if node.has_diff_title %}
            {{ node.title_diff|safe }}
        {% else %}
            {{ node.paragraph_title }}</h5>
        {% endif %}
    <p>
{% else %}
    <p>
    {% if node.attributes.marker != "none" and node.attributes.marker != None %}
        <em class="paragraph-marker">{{ node.attributes.marker }}</em>
    {% endif %}
{% endif %}

{% if node.action == 'deleted' %}
    <del>
        {% for child in node.paragraph_content %}
            {% if child.tag == "ref" or child.tag == "def" %}
                {{ child.regtext }}
            {% else %}
                {{ child.text }}
            {% endif %}
        {% endfor %}
    </del>
{% elif node.action == 'added' %}
    <ins>
        {% for child in node.paragraph_content %}
            {% if child.tag == "ref" or child.tag == "def"%}
                {{ child.regtext }}
            {% else %}
                {{ child.text }}
            {% endif %}
        {% endfor %}
    </ins>
{% elif mode == 'reg' or node.has_content %}
    {% for child in node.paragraph_content %}
        {% if child.tag == "ref" %}
            {% include "reference.html" %}
        {% elif child.tag == "def" %}
            <dfn class="defined-term">{{ child.regtext }}</dfn>
        {% elif child.tag == "graphic" %}
            <img class="reg-image" src="{{ child.target }}"/>
        {% else %}
            {{ child.text }}
        {% endif %}
    {% endfor %}
{% elif mode == 'diff' or node.has_diff_content %}
    {{ node.content_diff|safe }}
{% endif %}
</p>
