{% extends "base.html" %}
{% block title %}
Main
{% endblock %}

{% block body %}
    {% block reg_header %}
        {% include "regulation_header.html" %}
    {% endblock %}

    <div id="menu" class="panel" data-reg-id="{{ meta.cfr_section }}" data-cfr-title-number="{{ meta.cfr_title }}">
        {% include "sidebar.html" %}
    </div>

    <div class="wrap group">
        <main role="main">
            <div id="content-body" class="main-content">
                <section id="content-wrapper" class="reg-text">
                    {% if mode == "reg" or mode == "diff" %}
                        {% with node=reg %}
                            {% include "regnode.html" %}
                        {% endwith %}
                    {% elif mode == "landing" %}
                        <section data-base-version="{{ meta.version }}" class="landing"
                                 data-page-type="landing-page" data-reg-part="{{ meta.cfr_section }}">
                            {% include landing_page %}
                        </section>
                    {% endif %}
                </section>
            </div>
        </main>
        {% if mode == "reg" %}
            {% with node=reg %}

                {% include "right_sidebar.html" %}

            {% endwith %}
        {% elif mode == "landing" %}
            {% include landing_page_sidebar %}
        {% endif %}
    </div>


{% endblock %}