{% extends "base.html" %}
{% block title %}
Main
{% endblock %}

{% block body %}
    {% block reg_header %}
        {% include "regulation_header.html" %}
    {% endblock %}

    <div id="menu" class="panel" data-reg-id="{{ meta.cfr_section }}" data-cfr-title-number="{{ meta.cfr_title }}">
        {% include "sidebar.html" %}
    </div>

    <div class="wrap group">
        <main role="main">
            <div id="content-body" class="main-content">
                <section id="content-wrapper" class="reg-text">
                    {% with node=reg %}
                        {% include "regnode.html" %}
                    {% endwith %}
                </section>
            </div>
        </main>
        {% with node=reg %}
            {% include "right_sidebar.html" %}
        {% endwith %}
    </div>

{% endblock %}