<li>
    {% if entry.tag == "tocSecEntry" or entry.tag == "tocAppEntry" %}
        <a href="{{ entry.target }}" data-section-id="{{ entry.target }}"
                data-doc-number="{{ meta.document_number }}" data-version="{{ meta.effective_date }}">

            {% if entry.tag == "tocSecEntry" %}
                <span class="toc-section-marker">
                    §{{ meta.cfr_section }}.{{ entry.section_number }}
                </span> {{ entry.section_subject }}
            {% elif entry.tag == "tocAppEntry" %}
                <span class="toc-section-marker">
                    §{{ meta.cfr_section }}.{{ entry.appendix_letter }}
                </span> {{ entry.appendix_subject }}
            {% endif %}
        </a>
    {% elif entry.tag == "tocSubpartEntry" %}
        <a href="#"><b>Subpart {{ entry.children.1.children.0 }} -
        {{ entry.section_subject }}</b>
        </a>
        {% for node in entry.children %}
            {% with entry=node template_name="toc_entry.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}

    {% endif %}
</li>
