<div id="sidebar" class="secondary-content secondary-content-1010">
    <div id="sidebar-content" class="sidebar-inner">
        <section id="definition"></section>
        <section class="landing-sidebar">


            <div class="content-wrap">
                <h3>Additional Resources</h3>


                <h4>Other resources</h4>

                <ul>
                    <li>
                        <a href="http://files.consumerfinance.gov/f/201508_cfpb_bulletin-on-interstate-land-sales-full-disclosure-act-amendment.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">2015 Bulletin on Interstate Land Sales Full Disclosure Act
                            amendment</a></li>
                    <li>
                        <a href="http://files.consumerfinance.gov/f/201107_CFPB_Guidance_ILS-Communications-With-CFPB-Update-July-202012.pdfhttp:/files.consumerfinance.gov/f/201107_CFPB_Guidance_ILS-Communications-With-CFPB-Update-July-202012.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank"> 2011 Bulletin on communications with CFPB</a></li>
                    <li>
                        <a href="http://www.consumerfinance.gov/newsroom/cfpb-takes-action-against-property-developers-for-marketing-violations/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Press release on a May 2015 Enforcement action</a></li>
                    <li><a href="http://www.consumerfinance.gov/administrativeadjudication/2013-cfpb-0002/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">3D Resorts Bluegrass</a></li>
                    <li>
                        <a href="http://files.consumerfinance.gov/f/201505_cfpb_consent-order-international-land-consultants.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Interstate Land Consultants</a></li>
                    <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/housing/rmra/ils/ilsexemp"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Guidelines for Exemptions Available Under the Interstate
                        Land Sales Full Disclosure Act</a></li>
                </ul>

            </div>
            <!-- /sidebar-wrap -->

        </section>
        <section id="sxs-list" class="regs-meta"></section>
        <section id="help" class="regs-meta"></section>
    </div>
</div>