<div id="sidebar" class="secondary-content secondary-content-1004">
    <div id="sidebar-content" class="sidebar-inner">
    <section id="definition"></section>
    <section class="landing-sidebar">

        
<div class="content-wrap">
    <h3>Additional Resources</h3>

    
    <h4>Ask CFPB </h4>
    <ul>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:mortgages" class="external" target="_blank">Mortgages</a></li>
    </ul>

</div> <!-- /sidebar-wrap -->

    </section>
    <section id="sxs-list" class="regs-meta"></section><section id="help" class="regs-meta"></section></div>
</div>