<div id="sidebar" class="secondary-content secondary-content-1005">
    <div id="sidebar-content" class="sidebar-inner">
        <section id="definition"></section>
        <section class="landing-sidebar">


            <div class="content-wrap">
                <h3>Additional Resources</h3>


                <h4>Ask CFPB </h4>
                <ul>
                    <li>
                        <a href="http://www.consumerfinance.gov/askcfpb/search?selected_facets=category_exact:money-transfers"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Money transfers</a></li>
                    <li>
                        <a href="http://www.consumerfinance.gov/askcfpb/search?selected_facets=category_exact:prepaid-cards"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Prepaid cards</a></li>
                </ul>

                <h4>Other resources</h4>

                <ul>
                    <li>
                        <a href="http://files.consumerfinance.gov/f/201308_cfpb_Intl-Money-Transfer-Small-Entity-Compliance-Guide.pdf"
                           class="pdf"
                           rel="noopener noreferrer"
                           target="_blank">Small entity compliance guide</a></li>
                    <li><a href="http://files.consumerfinance.gov/f/201305_cfpb_remittance-transfer-rule_summary.pdf"
                           class="pdf"
                           rel="noopener noreferrer"
                           target="_blank">Plain language summary of remittance transfer rule</a></li>
                    <li><a href="http://www.consumerfinance.gov/remittances-transfer-rule-amendment-to-regulation-e/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Information about the remittance transfer rule</a></li>
                </ul>

            </div>
            <!-- /sidebar-wrap -->

        </section>
        <section id="sxs-list" class="regs-meta"></section>
        <section id="help" class="regs-meta"></section>
    </div>
</div>