<div id="sidebar" class="secondary-content secondary-content-1024">
    <div id="sidebar-content" class="sidebar-inner">
        <section id="definition"></section>
        <section class="landing-sidebar">


            <div class="content-wrap">
                <h3>Additional Resources</h3>


                <h4>Ask CFPB </h4>
                <ul>
                    <li>
                        <a href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:mortgages"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Mortgages</a>
                    </li>
                </ul>

                <h4>Other resources</h4>
                <ul>
                    <li>
                        <a href="http://files.consumerfinance.gov/f/201411_cfpb_small-entity-compliance-guide_tila-respa.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Small entity compliance
                            guide</a></li>
                    <li>
                        <a href="http://files.consumerfinance.gov/f/201407_cfpb_servicing-applicability-comparison-chart-reg-x-and-z.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Mortgage servicing rules coverage chart</a></li>
                    <li><a href="http://files.consumerfinance.gov/f/201310_cfpb_mortgage-servicing_bulletin.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">CFPB bulletin 2013-12</a></li>
                    <li>
                        <a href="http://www.consumerfinance.gov/regulations/2013-real-estate-settlement-procedures-act-regulation-x-and-truth-in-lending-act-regulation-z-mortgage-servicing-final-rules/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">RESPA and TILA mortgage servicing final rules</a></li>
                    <li><a href="http://files.consumerfinance.gov/f/201503_cfpb_your-home-loan-toolkit-web.pdf"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">Your home loan toolkit</a></li>
                    <li><a href="http://www.consumerfinance.gov/regulatory-implementation/"
                           rel="noopener noreferrer"
                           class="external"
                           target="_blank">Information about the 2013 mortgage rule implementation</a></li>
                </ul>

            </div>
            <!-- /sidebar-wrap -->

        </section>
        <section id="sxs-list" class="regs-meta"></section>
        <section id="help" class="regs-meta"></section>
    </div>
</div>