<h2 class="banner-text">Regulation X protects consumers when they apply for and have mortgage loans.</h2>

<div class="group">
    <div class="reg-tags">
        <h3 class="list-header">The mortgage loan process includes: </h3>
        <ul class="tag-list">
            <li>Applications for mortgage loans</li>
            <li>Origination of mortgage loans</li>
            <li>Title insurance</li>
            <li>Conducting the settlement (or closing)</li>
            <li>Escrow accounts</li>
            <li>Mortgage loan servicing</li>
        </ul>
    </div>

    <div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
            <li>Prohibition on kickbacks and unearned fees</li>
            <li>Mortgage origination and servicing disclosures</li>
            <li>Affiliated business arrangements</li>
            <li>Title insurance</li>
            <li>Escrow accounts</li>
            <li>List of homeownership counseling organizations</li>
            <li>Mortgage loan servicing requirements</li>
            <li>Force-placed insurance</li>
            <li>Mortgage loan servicing error resolution and borrower information requests</li>
            <li>Loss mitigation</li>
        </ul>
    </div>
</div>


<div>
    <p class="landing-curent-link"><a href="/eregulations/1024-1/2015-18239" class="go">View the currently effective
        Regulation X</a></p>
</div>

<div class="well landing-contact-info contact">
    <h4 class="sentence-header">We want to hear from you!</h4>

    <p>Please take our <a class="external"
                          href="https://www.surveymonkey.com/s/CFPB_eRegulations_survey"
                          rel="noopener noreferrer"
                          target="_blank">survey</a> to help the Bureau decide whether to expand and maintain
        eRegulations.</p>

    <p>For questions or comments about the platform:</p>
    <ul>
        <li>
            <address><a href="mailto:CFPB_eRegs_team@cfpb.gov" class="mail">CFPB_eRegs_team@cfpb.gov</a></address>
        </li>
    </ul>
</div>

<div class="contact">
    <h4>Questions about interpretation:</h4>
    <ul>
        <li>
            <address><a href="mailto:CFPB_reginquiries@cfpb.gov" class="mail">CFPB_reginquiries@cfpb.gov</a></address>
        </li>
        <li><span itemprop="telephone"><a href="tel:+12024357700" class="phone">(202) 435-7700</a></span></li>
    </ul>
</div>


<div id="disclaimer">


    <div class="disclaimer">
        <h4 tabindex="0" class="important">Trust, but verify</h4>

        <p>The CFPB’s eRegulations tool is an editorial compilation of material and not an official legal edition of the
            Code of Federal Regulations or the Federal Register. We have made every effort to ensure the material
            presented in this tool is accurate, but if you are relying on it for legal research you should consult the
            official editions of those sources to confirm your findings. Nothing in this tool binds the Bureau or
            creates any rights, benefits, or defenses, substantive or procedural, that are enforceable by any party in
            any manner.</p>
    </div>
    <!-- /.disclaimer -->

</div>
