
<h2 class="banner-text">Regulation DD helps consumers comparison-shop for deposit accounts.</h2>


<div class="group">
    <div class="reg-tags">
        <h3 class="list-header">Deposit accounts include: </h3>
        <ul class="tag-list">
            <li>Savings accounts</li>
            <li>Checking (demand deposit) accounts</li>
            <li>Money market accounts</li>
            <li>Certificates of deposit (CDs)</li>
            <li>Variable-rate accounts</li>
            <li>Accounts denominated in a foreign currency</li>
        </ul>
    </div>

    <div class="reg-tags">
        <h3 class="list-header">The regulation requires institutions to disclose information about: </h3>
        <ul class="tag-list">
            <li>Annual percentage yield (APY)</li>
            <li>Interest rates</li>
            <li>Minimum-balance requirements</li>
            <li>Account-opening disclosures</li>
            <li>Fee schedules</li>
        </ul>
    </div>
</div>


<div>
    <p class="landing-curent-link"><a href="/eregulations/1030-1/2011-31727" class="go">View the currently effective
        Regulation DD</a></p>
</div>

<div class="well landing-contact-info contact">
    <h4 class="sentence-header">We want to hear from you!</h4>

    <p>Please take our <a class="external" href="https://www.surveymonkey.com/s/CFPB_eRegulations_survey"
                          rel="noopener noreferrer"
                          target="_blank">survey</a> to help the Bureau decide whether to expand and maintain
        eRegulations.</p>

    <p>For questions or comments about the platform:</p>
    <ul>
        <li>
            <address><a href="mailto:CFPB_eRegs_team@cfpb.gov" class="mail">CFPB_eRegs_team@cfpb.gov</a></address>
        </li>
    </ul>
</div>

<div class="contact">
    <h4>Questions about interpretation:</h4>
    <ul>
        <li>
            <address><a href="mailto:CFPB_reginquiries@cfpb.gov" class="mail">CFPB_reginquiries@cfpb.gov</a></address>
        </li>
        <li><span itemprop="telephone"><a href="tel:+12024357700" class="phone">(202) 435-7700</a></span></li>
    </ul>
</div>


<div id="disclaimer">


    <div class="disclaimer">
        <h4 tabindex="0" class="important">Trust, but verify</h4>

        <p>The CFPB’s eRegulations tool is an editorial compilation of material and not an official legal edition of the
            Code of Federal Regulations or the Federal Register. We have made every effort to ensure the material
            presented in this tool is accurate, but if you are relying on it for legal research you should consult the
            official editions of those sources to confirm your findings. Nothing in this tool binds the Bureau or
            creates any rights, benefits, or defenses, substantive or procedural, that are enforceable by any party in
            any manner.</p>
    </div>
    <!-- /.disclaimer -->

</div>
