<div id="sidebar" class="secondary-content secondary-content-1003">
    <div id="sidebar-content" class="sidebar-inner">
        <section id="definition"></section>
        <section class="landing-sidebar">


            <div class="content-wrap">
                <h3>Additional Resources</h3>


                <h4>Other resources</h4>

                <ul>
                    <li><a href="http://www.consumerfinance.gov/hmda/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">HMDA Data
                        Tools</a></li>
                    <li><a href="http://www.ffiec.gov/hmda/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">FFIEC HMDA Materials</a>
                    </li>
                    <li>
                        <a href="http://www.consumerfinance.gov/policy-compliance/guidance/implementation-guidance/hmda-implementation/"
                           class="external"
                           rel="noopener noreferrer"
                           target="_blank">HMDA Rule Implementation</a></li>
                </ul>

            </div>
            <!-- /sidebar-wrap -->

        </section>
        <section id="sxs-list" class="regs-meta"></section>
        <section id="help" class="regs-meta"></section>
    </div>
</div>