<h2 class="banner-text">Regulation D preempts any state law to the extent it would prohibit state housing creditors from
    offering certain mortgage types, with some restrictions.</h2>


<div class="group">
    <div class="reg-tags">
        <h3 class="list-header">State housing creditors include state-chartered or state-licensed: </h3>
        <ul class="tag-list">
            <li>NCUA-insured credit unions</li>
            <li>FDIC-insured banks</li>
            <li>Savings banks</li>
            <li>Mortgage lenders meeting certain criteria</li>
        </ul>
    </div>

    <div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
            <li>Alternative mortgage transactions</li>
            <li>Fixed-rate mortgages</li>
            <li>Fixed-rate balloon loans</li>
            <li>Late fees</li>
            <li>Rate increases</li>
            <li>Prepayment penalties</li>
            <li>Interest-only payment periods</li>
            <li>Negative amortization</li>
            <li>Home equity line of credit</li>
        </ul>
    </div>
</div>


<div>
    <p class="landing-curent-link"><a href="/eregulations/1004-1/2011-18676" class="go">View the currently effective
        Regulation D</a></p>
</div>

<div class="well landing-contact-info contact">
    <h4 class="sentence-header">We want to hear from you!</h4>

    <p>Please take our <a class="external"
                          href="https://www.surveymonkey.com/s/CFPB_eRegulations_survey"
                          rel="noopener noreferrer"
                          target="_blank">survey</a> to help the Bureau decide whether to expand and maintain
        eRegulations.</p>

    <p>For questions or comments about the platform:</p>
    <ul>
        <li>
            <address><a href="mailto:CFPB_eRegs_team@cfpb.gov" class="mail">CFPB_eRegs_team@cfpb.gov</a></address>
        </li>
    </ul>
</div>

<div class="contact">
    <h4>Questions about interpretation:</h4>
    <ul>
        <li>
            <address><a href="mailto:CFPB_reginquiries@cfpb.gov" class="mail">CFPB_reginquiries@cfpb.gov</a></address>
        </li>
        <li><span itemprop="telephone"><a href="tel:+12024357700" class="phone">(202) 435-7700</a></span></li>
    </ul>
</div>


<div id="disclaimer">

    <div class="disclaimer">
        <h4 tabindex="0" class="important">Trust, but verify</h4>

        <p>The CFPB’s eRegulations tool is an editorial compilation of material and not an official legal edition of the
            Code of Federal Regulations or the Federal Register. We have made every effort to ensure the material
            presented in this tool is accurate, but if you are relying on it for legal research you should consult the
            official editions of those sources to confirm your findings. Nothing in this tool binds the Bureau or
            creates any rights, benefits, or defenses, substantive or procedural, that are enforceable by any party in
            any manner.</p>

        <p>Unlike other regulations in this tool which contain inline official interpretations, the official commentary
            on Regulation D is contained in Appendix A.</p>
    </div>
    <!-- /.disclaimer -->

</div>
